@media screen and (max-width: 600px) {
    .page1 {
      overflow: hidden;
      /* background-position: center; */
      /* background-size: cover; */
    }
  
    .page1 > nav {
      display: flex;
      justify-content: space-around;
    }
    nav > .link > img {
      height: 30px;
    }
    nav > .link > a {
      display: none;
    }
    nav > .goto {
      display: none;
    }
    .menu {
      display: initial;
    }
    .content{
      font-size: 15px;
    }
    .line {
      margin-left: 10vh ;
    }
    .line > p {
      font-size: 10px;
      margin-left: 20px ;
    }
    .page2{
      height: 100%;
      width: 100%;
    }
    .page2 .section1{
      /* display: flex; */
      /* flex-direction: row; */
      height: 50%;
      width: 100%;
    }
  
    .section1{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      gap: 20px; /* Optional: Space between items */
      padding: 10px;
    
    }
    .image{
      flex: 1 1 calc(50% - 40px); /* Two items per row */
      max-width: calc(50% - 40px);
      box-sizing: border-box; /* Ensure padding and borders are included in width */
    
    }
  
  /* -------------------------------------------------------------------------------------------------------   */
  
   .page3{
    height: 100vh;
    width: 100wh;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .page4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  }
  